*{margin:0;padding:0;}
aside,section,article,p,div,span,figure,figcaption,img,input,form,html, footer, header,nav, p, ul, li{margin:0;padding:0;}
ul{list-style:none;}
.clear{clear:both;height:0;}
:focus{outline:none;}
ul:after{clear:both;  display:block;content:"";}
html{font-smooth:always;}
img{  max-width:100%;border:none;vertical-align:bottom;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;  -o-user-select:none;}
button{-webkit-appearance:none;}

.pane{
  background-color: black;
}
.view-with-bg{
    background-image: url('../img/bg.jpg') !important;
    background-size: cover !important;
}

.middle_text {
  display: table-cell;
  vertical-align: middle;
}
.main_wrapper {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}
.loding_scree h1, h3, h2, h4 {
  color: #fff;
}
.loding_scree img {
  display: inline-block;
}
.loding_scree h1 {
  font-family: century gothic;
  font-size:48px;
}
.log_buttons a {
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: 250px;
}
.log_buttons {
  margin-top: 40px;
}
.log_buttons li {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
}
.top_nav a {
  color: #ccc;
  font-size: 15px;
  padding: 7px 5px;
}
.top_nav li {
  display: inline;
  margin-right: 16px;
}
.top_nav {
  float: left;
  margin-top: 10px;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 0;
  width: 100%;

}
.scroll {
    height: 100% !important;
}
.content_cont {
  padding-top: 80px;
}

.login_form {
  display: inline-block;
  margin-top: 28px;
  text-align: center;
}
.login_form .form-control {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #D3D3D3;
  display: block;
  font-size: 16px;
  height: 35px;
  line-height: 1.42857;
  padding: 6px 14px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 303px;
}
.login_form label {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
  max-width: 100%;
  text-align: left;
  width: 295px;
}
.login_form .help-block {
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: left;
  width: 228px;
}
.login_form .help-block > img {
  border: 1px solid;
  border-radius: 50%;
  float: right;
  margin-top: -4px;
  padding: 7px;
}
.login_form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  margin-top: 24px;
  padding: 6px;
  width: 300px;
}
span {
  color: #ccc;
  font-weight: normal;
}
.login_form .help-block.two {
  margin-top: 30px;
  width: 250px;
}
.ok_button {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  width: 234px;
}
.contact_text {
  padding: 50px;
}
.content_cont p {
  color: #fff;
  line-height: 25px;
}
.sale_enq {
  border-top: 1px solid #8d8d8d;
  float: left;
  padding-top: 20px;
  width: 75%;
}
.middle_text.search {
  display: inline-block;
  margin: auto;
  padding-top: 90px;
  vertical-align: top;
  width: 75%;
}
.search p {
  color: #fff;
  font-size: 18px;
}
.search_cont input {
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url("../img/white.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #C7C7C7;
  height: auto;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-top: 10px;
  border: 1px solid !important;
}
.search_cont {
  line-height: 40px;
  margin-top: 25px;
}
.search_cont input:focus {
  background-color: #543e49;
  background-image: url("../img/white.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #2e6d89;
  box-shadow: none;
  color: #fff;
  height: auto;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 10px;
}
.business_table ul {
  background: #cbc5c5 none repeat scroll 0 0;
  border-radius: 5px;
  margin: auto auto 20px;
  position: relative;
  width: 83%;
}
.business_table li {
  display: inline;
  float: left;
  padding: 8px 15px;
  text-align: left;
  width: 25%;

}
.select_wrapper {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}
.content_wrapper {
  padding: 80px;
  width: 100%;
}

.content_wrapper p {
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.content_wrapper a {
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin-left: 14px;
  margin-top: 15px;
  padding: 7px 30px;
  text-decoration: none;
}
.loding_scree h4 {
  font-size: 13px;
}
.content_wrapper h4 {
  color: #000;
}
.business_table.result ul::before {
  background: #2f9242 none repeat scroll 0 0;
  border-radius: 4px 0 0 4px;
  color: #fff;
  content: "";
  font-family: FontAwesome;
  height: 100%;
  left: -29px;
  padding: 8px 0;
  position: absolute;
  width: 34px;
}
.business_table.result ul.heading::before {
  display: none;
}
.select_form {
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
}
.select_form a {
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  margin-top: 100px;
  padding: 5px 25px;
  text-decoration: none;
}
.tonto_heading::before {
  background: #2f9242 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 16px;
  font-weight: 300;
  left: -39px;
  padding: 7px 8px;
  position: absolute;
  top: -5px;
}
.tonto_heading {
  position: relative;
}
.contact_form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #CECECE;
  height: auto;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-top: 10px;
}
.contact_form label {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}
.contact_form {
  display: inline-block;
  margin: 18px auto auto;
  width: 75%;
}
.contact_form input:focus {
  background-color: #543e49;
  border: 1px solid #2e6d89;
  box-shadow: none;
}
.middle_text.search.fill_detail {
    width: 100%;
}
.contact_form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  margin-top: 6px;
  padding: 7px;
  width: 100%;
}
.file_input {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}
.contact_form .form-group {
  margin-bottom: 5px;
}
.input_button > input {
  left: 40%;
  opacity: 0;
  position: absolute;
  top: -6px;
}
.input_button {
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 0;
}
.input_button > img {
  border: 1px solid;
  border-radius: 50%;
  margin-left: 8px;
  padding: 4px;
  top: 1px;
}
.ng-pristine ng-valid.checkbox input {


}
.broker_details .breadcrumb li::before {
  padding: 0;
}
.select_form .checkbox input {
    margin-top: -14px;
    position: relative;
    top: 24px;
}
.header {
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
.home_cont {
  margin: auto;
  padding: 100px 0;
  width: 80%;
}
.navi {
  float: right;
  padding-top: 5px;
  text-align: right;
}
.navi li {
  display: inline;
  margin-right: 15px;

}
.loading_scree.contact_form {
  width: 100%;
}
.navi a {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}
.logo_cont span {
  color: #fff;
  display: inline-block;
  font-family: helvetica;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 1px;
  padding: 10px 0;
}
.logo_cont img {
  border-right: 1px solid #fff;
  padding: 5px 15px;
}
.home_nav > li {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline;
  float: left;
  padding: 50px 0;
  text-align: center;
  width: 50%;
  position:relative;
}
.home_nav > li:nth-child(3), .home_nav > li:nth-child(4) {
  border-bottom: medium none;
}
.home_nav > li:nth-child(2n) {
  border-right: medium none;
}
.home_nav {
  margin: auto;
  
  width: 80%;
}
.middle_text.home_page {
  vertical-align: bottom;
}
.home_nav > li a {
  color: #fff;
  font-size: 31px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.home_nav span {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-size: 21px;
  height: 33px;
  margin-left: 10px;
  position: relative;
  top: -4px;
  width: 38px;
}
.home_nav > li::after {
  content: url("../img/arrow_right1.png");
  margin-left: 9px;
  margin-top: 3px;
  position: absolute;
  top: 57px;
}
.quote_cont td div {
  background: #fff none repeat scroll 0 0;
  padding: 20px 12px;
  vertical-align: middle;
  width: 100%;
}
.checkbox input:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  outline: medium none;
}
.quote_wrapper {
  float: left;
  padding: 100px;
  width: 100%;
}
.quote_cont table {
  float: left;
  margin-top: 23px;
  width: 100%;
}
.broker_details .breadcrumb > li {
  display: inline;
  vertical-align: middle;
}
.quote_cont td div {
  background: rgba(255, 255, 255, 0.73) none repeat scroll 0 0;
  color: #000;
  margin-bottom: 20px;
  min-height: 80px;
  padding: 20px 12px;
  vertical-align: middle;
  width: 100%;
}
.quote_cont {
  margin: auto;
  width: 70%;
}
.quote_cont th div {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  padding: 15px;
}
.quote_right a {
  border: 1px solid;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 9px 15px;
}
.col-sm-6.quote_right {
  text-align: right;
}
.col-sm-6.quote_left {
  color: #fff;
  font-size: 32px;
}
.quote_cont td:nth-child(1) div {
  border-radius: 3px 0 0 3px;
}
.quote_cont td div a {
  border: 1px solid;
  border-radius: 8px;
  color: #4c4c4c;
  display: inline;
  padding: 8px 18px;
  text-transform: uppercase;
  vertical-align: middle;
}
.quote_cont td:nth-child(5) div {
  border-radius: 0 3px 3px 0;
}
.quote_cont td:nth-child(4) div a {
  border: medium none;
  border-radius: 0;
  color: #000;
  padding: 0;
}
.table_cont.table-responsive {
  float: left;
  width: 100%;
}
.quote_cont span img {
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin-top: -7px;
  padding: 6px 5px;
  position: relative;
  top: 3px;

}
.artboards {
  background: #e6e6e6 none repeat scroll 0 0;
}
.quote_header {
  background: #372a31 none repeat scroll 0 0;
  float: left;
  width: 100%;
}

.header_left::before {
  content: "";
  font-family: fontAwesome;
  font-size: 28px;
  left: 11px;
  position: absolute;
  top: 15px;
}
.header_left {
  border-top: 10px solid #2f9242;
  color: #fff;
  font-size: 24px;
  padding: 14px 50px 0px 43px;
  position: relative;
}

.header_right nav {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  margin-bottom: 0;
  min-height: auto;
  padding: 10px 0;
  text-align: right;
}
.header_right {
  border-top: 10px solid #543e49;
}
.header_right nav a {
  color: #6a6367 !important;
  font-size: 15px;
  padding: 10px;
}
.header_right li:nth-child(5) {
  color: #fff;
  font-size: 15px;
  padding: 10px;
}
.broker_detail_cont {
  float: left;
  width: 100%;
}
.broker_details {
  margin: auto;
  width: 75%;
}
.broker_details h2 {
  color: #3b2f35;
}
.main_broker_cont {
  border-bottom: 1px solid #ccc;
  display: block;
  float: left;
  padding: 30px 0;
  width: 100%;
}
.broker_details ol {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin: 0;
  padding: 0;
}
.amount_text {
  background-image: url("../img/crncy.png");
  background-position: 7px center;
  background-repeat: no-repeat;
  padding-left: 22px;
  text-align: right;
} 
.broker_details label {
  color: #606060;
  font-size: 15px;
  font-weight: normal;
  width: auto%;
}
.broker_details input, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: auto;
    padding: 10px 13px;
}
.broker_details select {
  font-size: 14px;
  height: auto;
  padding: 10px;
}
.select_outer::after {
  background: #fff none repeat scroll 0 0;
  bottom: 1px;
  color: #606060;
  content: url("../img/black.png");
  font-family: fontawesome;
  line-height: 37px;
  pointer-events: none;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 29px;
}
.select_outer {
  display: block;
  position: relative;
}
.broker_details .btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #000;
  text-align: left;
  width: 100%;
}
.sub_app .btn {
  text-transform: uppercase !important;
}
.select_outer.buttn::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.help_text {
  color: #626262;
  margin-top: 20px;
}
.main_broker_cont.loan {
  border-bottom: medium none;
  padding-bottom: 80px;
}
/* calculated_result css */
.calculated_result {
  background: #d8d8d8 none repeat scroll 0 0;
  float: left;
  padding: 20px 0;
  width: 100%;
}
.print_email {
  border-top: 1px solid #ababab;
  float: left;
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.print_email img {
  margin-right: 8px;
}


.print {
  border-right: 1px solid;
  padding: 20px 0;
  position: relative;
}

.email {
  padding: 20px 36px;
  position: relative;
  text-align: left;
}
.apply_button {
  border: 1px solid;
  border-radius: 6px;
  color: #606060;
  display: inline-block;
  margin-top: 20px;
  padding: 6px 20px;
  top: 20px;
  width: 300px;
}
.result p {
  color: #606060;
  font-size: 15px;
}

.current_header {
  border: medium none;
}
.current_header_right {
  color: #fff;
  padding: 20px;
  text-align: right;
}

 .form_wrapper.info .control-label {
  margin: 0;
  padding: 0;
}
 .form_wrapper.info .form-group {
  margin: 0;
  padding: 0;
}
.left_text label {
  text-align: left !important;
}
/* new application css */
.quote_cont.application {
  width: 80%;
}
.quote_cont.application span {
  position: relative;
  top: -7px;
}
.quote_cont.application div a {
  border: medium none;
}

.quote_cont.application .caret {
  top: 0 !important;
}
.quote_cont.application .btn-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #ccc;
  color: #fff;
  font-size: 18px;
}
.quote_right .dropdown-menu {
  width: 260px;
}
.dropdown-menu li:nth-child(1) {
  font-weight: bold;
  text-align: center;
}
.dropdown-menu a {
  font-size: 14px;
}
.quote_right .dropdown li {
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  position:relative;
}
.quote_cont .dropdown li:nth-child(2)::after {
  content: url("../img/tick.png");
  height: 21px;
  position: absolute;
  right: 7px;
  top: 8px;
  width: 20px;
}
.quote_cont .dropdown li:nth-child(3)::after {
  color: #3b99ff;
  content: "";
  font-family: fontAwesome;
  position: absolute;
  right: 18px;
  top: 11px;
}
.quote_right {
  text-align: right;
}

.broker_details input[type="text"], select {
  line-height: 27px;
}
/* search result css */
.quote_cont.business_table div {
  min-height: auto;
}
.quote_cont.business_table div {
  min-height: auto;
  padding: 10px 15px;
  text-align: left;
  width: auto;
}
.quote_cont.business_table .table-responsive div {
  content: "";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.business_table td:nth-child(4) div, .business_table th:nth-child(4) div {
  border-radius: 0 4px 4px 0;
  text-align: right;
}
.business_table tr {
  position: relative;
}
.business_table .table-responsive span {
  background: #2f9242 none repeat scroll 0 0;
  color: #fff;
  font-size: 14px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 0;
}
.business_table .table-responsive {
  border: medium none;
}
.login_form input:focus {
  background-color: #543e49;
  background-image: url("../img/white.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #2e6d89;
  box-shadow: none;
  color: #000;
  height: auto;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-top: 5px;
}
/* new application css */
.quote_cont.application {
  width: 80%;
}
.quote_cont.application span {
  position: relative;
  top: -7px;
}
.quote_cont.application div a {
  border: medium none;
}
 .quote_left {
  color: #fff;
  font-size: 27px;
}
.quote_cont.application .caret {
  top: 0 !important;
}
.quote_cont.application .btn-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #ccc;
  color: #fff;
  font-size: 18px;
}
.quote_right .dropdown-menu {
  width: 260px;
}
.dropdown-menu li:nth-child(1) {
  font-weight: bold;
  text-align: center;
}
.dropdown-menu a {
  font-size: 14px;
}
.quote_right .dropdown li {
  border-bottom: 1px solid #ccc;
  padding: 6px 0;
  position:relative;
}
.quote_cont .dropdown li:nth-child(2)::after {
  content: url("../img/tick.png");
  height: 21px;
  position: absolute;
  right: 7px;
  top: 8px;
  width: 20px;
}
.quote_cont .dropdown li:nth-child(3)::after {
  color: #3b99ff;
  content: "";
  font-family: fontAwesome;
  position: absolute;
  right: 18px;
  top: 11px;
}


.application_cont .active > a {
  background: #2f9242 none repeat scroll 0 0 !important;
  border: 1px solid #2f9242 !important;
  border-radius: 0 !important;
  color: #fff !important;
  height: auto;
}
.application_cont .nav-tabs li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #2f9242;
  text-align: center;
  width: 30%;
}
.application_cont .active {
  background: #2f9242 none repeat scroll 0 0 !important;
  border: 1px solid #2f9242 !important;
}
.application_cont li a {
  color: #2f9242;
  font-size: 15px;
  font-weight: bold;
}
.application_cont h3 {
  color: #000;
}
.application_cont .navbar-form.navbar-left {
  padding: 0;
  width: 100%;
}
.application_cont .form-group {
  margin-top: 20px;
  width: 100%;
}

.application_cont input {
  background-image: url("../img/search.png");
  background-position: right 10px;
  background-repeat: no-repeat;
}
.application_cont .navbar-form input {
  width: 100% !important;
}
.application_cont .checkbox {
  float: left;
}
.application_cont th div {
  color: #606060 !important;
}
.application_cont .quote_cont.business_table {
  width: 100%;
}
.not_list {
  color: #606060;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}
.not_list::after {
  border: 1px solid;
  border-radius: 50%;
  content: url("../img/arrow_black.png");
  margin-left: 10px;
  padding: 3px 5px;
  position: absolute;
  top: -2px;
}
.select_outer.buttn.sub_app::after {
  content: url("../img/arrow_black.png");
}
.header_left span {
  color: #837b7f;
  float: left;
  font-size: 14px;
  width: 100%;
}
/* personal auto css
 */
.nav.nav-tabs.customer_quant {
  margin-top: 30px;
  width: 40%;
}
.customer_quant p {
  padding: 13px 0;
}
.repayment_cont .checkbox {
  left: 100%;
  position: absolute;
  width: 25%;
}
.repayment_cont {
  position: relative;
}
.app_sub .select_outer.buttn.sub_app {
  margin-top: 20px;
}
/* application submission css */
.submision_mesg h2 {
  font-size: 20px;
  position: relative;
  text-align: center;
}
.check_sub {
  background: #309243 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  padding: 1px 4px;
}
.submision_mesg {
  line-height: 45px;
  text-align: center;
}
.app_view > a {
  border: 1px solid #606060;
  border-radius: 4px;
  color: #606060;
  display: inline-block;
  line-height: 35px;
  margin-bottom: 13px;
  padding: 0 12px;
  width: 150px;
}
/* existing employee css */
.employment_det_container {
  margin: auto;
  width: 90%;
  padding-top: 80px;
}
.employment_det_container .control-label {
  width: 100%;
}
.emp_det_cont1 .control-label {
  margin-bottom: 0px;
  width: 100%;
}
.form_wrapper select, .form_wrapper input {
  height: auto;
  padding: 6px;
}
.emp_det_cont1 .application_cont .nav-tabs {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.emp_stauts input {
  display: inline-block;
  width: 65px;
}
.form-group.emp_stauts > span {
  color: #000;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  width: 81px;
}
.form-group.emp_stauts > label {
  width: 100%;
}
.submit_form .form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #606060;
  display: inline-block;
  width: 250px;
}
 .form-group.submit_form {
  float: left;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.employment_det_container h3 {
  color: #606060;
  padding: 30px 0;
  text-align: center;
}
.product_text p {
  font-size: 17px;
}
.text_bottom {
  border-top: 1px solid #ccc;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
}
.text_bottom li {
  line-height: 37px;
  list-style: outside none disc;
}
.border_text > ul {
  border-right: 1px solid;
  width: 91%;
}