<ion-view  class="view-with-bg" view-title="Contact-Us" class="pane">
	<ion-content>	
		<div class="content_cont">
	    <div class="container">
				<div class="contact_text">
					<h2>Contact Us</h2>
					<h4>Sales Enquiries</h4>
					<p>Paul Stevansan<br>
					Business Development Manager - Equipment Finance<br>
					T:07 3013 8656 | M:402 897 065<br>
					<strong>paul.stevenson@firstmac.com.au</strong></p><br>
					<div class="sale_enq"><h4>Credit Enquiries</h4>
						<p><strong>absbroker@firstmac.com.au</strong></p>					
					</div>					
				</div>
	    </div>
    </div>	
	</ion-content>
</ion-view>