<ion-view  class="view-with-bg" view-title="Home" class="pane">
  <ion-content>
  	<div class="main_wrapper">
		  <div class="middle_text search fill_detail">			
			  <div class="loding_scree">  <!--logo heading part start here-->
  				<img src="img/logo.png" class="img-responsive">
  				<h2>Start your broker accreditation</h2>
  				<p>Now simply fill in your contact details below and one of our friendly team members<br>
  				will be in contact to discuss your accreditation</p>
    	    <div class="contact_form">			
    				<form>
              <div class="form-group col-sm-4">
                <label for="Broker Name">Broker Trading Name</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Primary Contact Name</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">ACL/CR Details</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Address</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Postal address (if different)</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Mobile</label>
                <input type="text" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" id="" placeholder="">
              </div>
              <div class="form-group col-sm-4">
               <label></label>
                <button type="submit" class="btn btn-default">Send Details</button>
              </div>     
              <div class="form-group col-sm-4 file_input">
                 <p class="help-block">Wish to fast track your accreditation?<br>
                 We will require your business background & PI Certificate</p>
                 <div class="input_button"><input type="file" ng-click="uploadFiles()" value="Upload" id="exampleInputFile">Upload files Now<img src="img/plus.png"></div>
              </div> 
            </form>
          </div>				
			  </div><!--logo heading part end here-->			
		  </div>
	  </div>
  </ion-content>
</ion-view>
