<ion-view animation="slide-left-right" class="view-with-bg" view-title="Home" class="pane">
  <ion-content>
    <div class="top_nav">
      <ul>
        <li><a ng-href="#/learn">Learn More</a></li>
        <li><a ng-href="#/contact_form">Contact Us</a></li>
      </ul>
    </div>
    <div class="main_wrapper">
      <div class="middle_text">     
        <div class="loding_scree">  <!--logo heading part start here-->
          <img src="img/logo.png" class="img-responsive">
          <h1>Equipment Finance</h1>
          <h3>Welcome to our business broker site</h3>
        </div><!--logo heading part end here-->       
        <div class="log_buttons">
          <ul>
              <!-- forward, back, enter, exit, swap -->
              <!-- http://ionicframework.com/docs/api/directive/navDirection/ -->
            <li><a nav-direction="swap" href="#/login">Login</a></li>
            <li><a nav-direction="swap" href="#/search">Get Accredited</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>