<ion-view  class="view-with-bg" view-title="Home" class="pane">
  <ion-content>
		<header class="header">
			<div class="col-sm-6 logo_cont"><img src="img/home_icon.png"><span>Equipment Finance</span></div>
			<div class="col-sm-6 navi">
				<ul>
					<li><a href="#">Welcome Rebacca</a></li>	
					<li><a href="#/logout">Log Out</a></li>
				</ul>
			</div>
		</header>
		<div class="main_wrapper">
			<div class="middle_text home_page">	
				<div class="home_cont">
					<ul class="home_nav">
						<li><a href="#/my_quotes">My Quotes<span>5</span></a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">My Applications<span>12</span></a></li>
						<li><a href="#/contact">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>