<ion-view  class="view-with-bg" view-title="Home" class="pane">
  <ion-content> 
<body>
	<div class="quote_wrapper">
		<div class="quote_cont application">
		<div class="col-sm-9 col-xs-6 quote_left">My Application</div>
		<div class="col-sm-3  col-xs-6 quote_right"><div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    New Application
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">New Application</a></li>
    <li><a href="#">Business Auto & Equipment</a></li>
	<li><a href="#">Personal Auto</a></li>
   
  </ul>
</div></div>
<div class="table_cont table-responsive">
			<table>
			<tr>
			<th><div>Quote ID</div></th>
			<th width="200px"><div>Borrower Name</div></th>
			<th><div>Created Date</div></th>
			
			<th><div>Apply now</div></th>
			<th><div>View Application</div></th>
			</tr>
			<tr>
			<td><div>7005973</div></td>
			<td><div>POOLCORP PTY LTD Longer title 2 lines</div></td>
			<td><div>20/11/2015 9:34:34 am</div></td>
			<td><div>$11209.09</div></td>
			<td><div><a href="#">View application</a> <span><img src="img/arrow_black.png"></span></div></td>
			
			</tr>
			<tr>
			<td><div>7005973</div></td>
			<td><div>POOLCORP PTY LTD Longer title 2 lines</div></td>
			<td><div>20/11/2015 9:34:34 am</div></td>
			<td><div>$11209.09</div></td>
			<td><div><a href="#">View application</a> <span><img src="img/arrow_black.png"></span></div></td>
			</tr>
			<tr>
			<td><div>7005973</div></td>
			<td><div>POOLCORP PTY LTD Longer title 2 lines</div></td>
			<td><div>20/11/2015 9:34:34 am</div></td>
			<td><div>$11209.09</div></td>
			<td><div><a href="#">View application</a> <span><img src="img/arrow_black.png"></span></div></td>
			
			</tr>
			<tr>
			<td><div>7005973</div></td>
			<td><div>POOLCORP PTY LTD Longer title 2 lines</div></td>
			<td><div>20/11/2015 9:34:34 am</div></td>
			<td><div>$11209.09</div></td>
			<td><div><a href="#">View application</a> <span><img src="img/arrow_black.png"></span></div></td>
			
			</tr>
			<tr>
			<td><div>7005973</div></td>
			<td><div>POOLCORP PTY LTD Longer title 2 lines</div></td>
			<td><div>20/11/2015 9:34:34 am</div></td>
			<td><div>$11209.09</div></td>
			<td><div><a href="#">View application</a> <span><img src="img/arrow_black.png"></span></div></td>
			
			</tr>
			</table>
		</div>
		</div>
	</div>
</ion-content>
</ion-view>