<ion-view  class="" view-title="Home" class="pane">
  <ion-content> 

                  <ul class="">
                    <li><a href="#/calculated_result">caculated_result</a></li>
                    <li><a href="#/contact_form">contact_form</a></li>
                		<li><a href="#/current_quote">current_quote</a></li>
                		<li><a href="#/home_page">home_page</a></li>
                    <li><a href="#/my_quote">my_quote</a></li>
                    <li><a href="#/new_quote">new_quote</a></li>
                    <li><a href="#/search_result">search_result</a></li>
                    <li><a href="#/select_accredition">select_accredition</a></li>
                    <li><a href="#/select_again">select_again</a></li>
                    <li><a href="#/selected_business">selected_business</a></li>
                    <li><a href="#/search">search</a></li>
                    <li><a ng-href="#/select_accredition">select_accredition</a></li>
                  </ul>
             

  </ion-content>
</ion-view>