<ion-view  class="artboards" view-title="Home" class="pane">
  <ion-content>
		<body class="artboards">
			<div class="form_wrapper">
				<div class="quote_header"><!-- header start here -->
					<div class="col-sm-3 header_left"><span>BUSINESS AUTO & EQUIPMENT</span>Online Application</div>
					<div class="col-sm-9 header_right">
						<nav class="navbar navbar-default">
 							<div class="container-fluid">
    					<!-- Brand and toggle get grouped for better mobile display -->
    						<div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>   
   						 	</div>
						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">           
						      <ul class="nav navbar-nav navbar-right">
						        <li><a href="#">Broker Details</a></li>
						        <li><a href="#">Customer Details</a></li>
										<li><a href="#">Declaration</a></li>
										<li><a href="#">Declaration</a></li>
										<li><strong>ID: 7005973</strong></li>
						      </ul>
						    </div><!-- /.navbar-collapse -->
					  	</div><!-- /.container-fluid -->
						</nav>		
					</div>
				</div>
				<!-- header end here -->
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<div class="application_cont">				
								<ul class="nav nav-tabs">
								  <li role="presentation" class="active"><a href="#">NEW CUSTOMER</a></li>
								  <li role="presentation"><a href="#">EXISTING CUSTOMER</a></li> 
								</ul>
								<ul class="nav nav-tabs customer_quant">
									<p> How many applicants are applying?</p>
								  <li role="presentation" class="active"><a href="#">1</a></li>
								  <li role="presentation"><a href="#">2</a></li> 
								</ul>
							</div>
							<h2>Applicant 1 Details</h2>
							<form>
							  <div class="form-group">
									<label for="Title">Title</label>
									<input type="text" class="form-control" id="" placeholder="Title">
							  </div>
							  <div class="form-group">
									<label for="Phone">Full Name</label>
									<input type="text" class="form-control" id="#" placeholder="Full Name">
							  </div>
							  <div class="form-group">
									<label for="Middle Name">Middle Name</label>
									<input type="text" class="form-control" id="#" placeholder="Middle Name">
							  </div>
							  <div class="form-group">
									<label for="Middle Name">Surname</label>
									<input type="text" class="form-control" id="#" placeholder="Surname">
							  </div>
				  			<div class="form-group">               
									<label for="DOB">DOB</label>
                  <input type='text' class="form-control" />                    
								</div>			
								<div class="form-group">
									<label for="Select a product">Maritial Status</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>Select</option>
										  <option>Married</option>
										  <option>Unmarried</option>					  
										</select>
									</span>
								</div>					
								<div class="form-group">
									<label for="Driver Licence Number">Driver Licence Number</label>
									<select class="form-control">
									  <option>Select</option>
									  <option>0</option>
									  <option>1</option>				  
									</select>
							  </div>			  
							 	<div class="form-group">
									<label for="Address">Address</label>
									<input type="text" class="form-control" id="#" placeholder="Address">
							  </div> 
								<div class="form-group">
									<label for="Phone Number">Phone Number</label>
									<input type="text" class="form-control" id="#" placeholder="Phone Number">
								</div>  			 
								<div class="form-group">
									<label for="Phone Number">Email</label>
									<input type="email" class="form-control" id="#" placeholder="Email">
								</div>				
								<div class="form-group">
									<label for="dependants">Number of dependants under 11 years</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>0</option>
										  <option>1</option>
										  <option>2</option>				  
										</select>
									</span>
								</div>			
								<div class="form-group">
									<label for="depandents">Number of dependants over 11 years</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>0</option>
										  <option>1</option>
										  <option>2</option>				  
										</select>
									</span>
								</div>				
							</form>
							<div class="application_cont">
								<ul class="nav nav-tabs customer_quant">
									<p> Are you an Australin citizen or permanent resident?</p>
							  	<li role="presentation" class="active"><a href="#">Yes</a></li>
							  	<li role="presentation"><a href="#">No</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Loan Details</h2>
							<form>
								<div class="form-group">
									<label for="Select a product">What is the main purpose of this applicant?*</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>Select</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									</span>
								</div>
							  <div class="form-group">
									<label for="Phone">Description of Vehical</label>
									<input type="text" class="form-control" id="#" placeholder="year, make, model">
							  </div> 
							</form>		
							<form class="form-horizontal amount">
							  <div class="form-group">
							    <label for="purchase price" class="col-sm-8 control-label ">What is the purchase price?</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control amount_text" id="" placeholder="0">
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="Deposit" class="col-sm-8 control-label">Add $400 establishment fee to loan?</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control amount_text" id="" placeholder="400">
							    </div>
							  </div> 
							  <div class="form-group">
							    <label for="Application Fee" class="col-sm-8 control-label">What is the Loan amount</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control amount_text" id="" placeholder="400">
							    </div>
							  </div> 
							  <div class="form-group">
									<label for="Select a product">Select the loan term & rate here</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>Select</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									</span>
								</div>
								<div class="form-group">
							    <label for="" class="col-sm-6 control-label">Balloon</label>
									<div class="col-sm-2">
								      <input type="text" class="form-control " id="" placeholder="0%">
							    </div>
							    <div class="col-sm-4">
								      <input type="text" class="form-control amount_text" id="" placeholder="0">
							    </div>
							  </div>	
							</form>	
						</div>
					</div>
				</section>	
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Income Details</h2>
							<form>
								<div class="form-group">
									<label for="Employer">Employer</label>
									<input type="text" class="form-control" id="" placeholder="Employer">
								</div>
								<div class="form-group">
									<label for="occupation">Occupation</label>
									<input type="text" class="form-control" id="" placeholder="Occupation">
								</div>					
								<div class="form-group">
									<label for="Type">Type</label>
									<span class="select_outer">
										<select class="form-control">
										  <option>Select</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									</span>
								</div>				
								<div class="form-group row">
									<label for="occupation" class="col-sm-12 control-label">Length of Employment</label>
									<div class="col-sm-6">
										<input type="text" class="form-control " id="" placeholder="Occupation">
									</div>
									<div class="col-sm-6">
										<input type="text" class="form-control " id="" placeholder="Occupation">
									</div>
								</div> 
							</form>
							<form class="form-horizontal amount">
								<div class="form-group">
										<label for="Gross salary" class="col-sm-6 control-label">Gross salary before tax</label>
									<div class="col-sm-2">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>					
									<div class="col-sm-4">
									  <span class="select_outer">
											<select class="form-control">
										 	 	<option>Monthly</option>
										 		<option>Yearly</option>					  
											</select>
										</span>
									</div>
								</div>				
								<div class="form-group">
									<label for="Rental Income" class="col-sm-6 control-label">Rental Income</label>
									<div class="col-sm-2">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>										
									<div class="col-sm-4">
									  <span class="select_outer">
											<select class="form-control">
											  <option>Monthly</option>
											  <option>Yearly</option>						  
											</select>
										</span>
									</div>
								</div>				
								<div class="form-group">
									<label for="Family Allowance" class="col-sm-6 control-label">Family Allowance</label>
									<div class="col-sm-2">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>					
									<div class="col-sm-4">
									  <span class="select_outer">
											<select class="form-control">
									  		<option>Monthly</option>
									  		<option>Yearly</option>					  
											</select>
										</span>
									</div>
								</div>				
								<div class="form-group">
									<label for="other income" class="col-sm-6 control-label">Other Income</label>
									<div class="col-sm-2">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>						
									<div class="col-sm-4">
									  <span class="select_outer">
											<select class="form-control">
									  		<option>Monthly</option>
									  		<option>Yearly</option>					  
											</select>
										</span>
									</div>
								</div>				
							</form>
						</div>
					</div>
				</section>	
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Liabilities</h2>			
							<form class="form-horizontal amount">			  		  
							  <div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Monthly home loan repayments</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>
									<div class="checkbox">
										<label>
										  <input type="checkbox"> Tick if refinancing
										</label>
									</div>
								</div>		 
							  <div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Monthly personal loan repayments</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>
									<div class="checkbox">
										<label>
										  <input type="checkbox"> Tick if refinancing
										</label>
									</div>
								</div>				  
							  <div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Monthly investment loan repayments</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>
									<div class="checkbox">
										<label>
										  <input type="checkbox"> Tick if refinancing
										</label>
									</div>
								</div>
								<div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Monthly car loan repayments</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>
									<div class="checkbox">
										<label>
										  <input type="checkbox"> Tick if refinancing
										</label>
									</div>
								</div>				
								<div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Monthly child maintenance loan repayments</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>					
								</div>				
								<div class="form-group repayment_cont">
									<label for="Brockage" class="col-sm-8 control-label">Total credit card limit</label>
									<div class="col-sm-4">
									  <input type="text" class="form-control " id="" placeholder="0%">
									</div>					
								</div>				  
							</form>  
						</div>
					</div>
				</section>
				<section class="main_broker_cont loan">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Confirmation</h2>				
							<form class="form-horizontal amount app_sub">
			  		  	<div class="checkbox">
									<label>
						  			<input type="checkbox"> I confirm that I hold an application from signed by the client.
									</label>
								</div>				  
			  				<span class="select_outer buttn sub_app">
			 					 <button type="submit" class="btn btn-default ">Submit Application</button>
			  				</span>			  
							</form>  
						</div>
					</div>
				</section>	
			</div>
		</body>	
	</ion-content>
</ion-view>	
<script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
		