<ion-view  class="artboards" view-title="Home" class="pane">
  <ion-content>
		<body class="artboards">
			<div class="form_wrapper info">
				<div class="quote_header"><!-- header start here -->
					<div class="col-sm-5 header_left current_header">Quote: ID 7005973</div>
					<div class="col-sm-7 header_right current_header_right">
						This quote will expire on 10/02/2016
					</div>
				</div>
				<!-- header end here -->
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Broker Details</h2>
							<ol class="breadcrumb">
							  <li><a href="#">Firstmac Limited</a></li>
							  <li class="active">180 Financial Services PTY LTD </li>
							  <li><a href="#">Lani testing login</a></li>			  
							</ol>
						</div>
					</div>
				</section>
				<section class="main_broker_cont">	
					<div class="broker_detail_cont">
						<div class="broker_details">
							<h2>Customer Details</h2>
							<form>
				  <div class="form-group">
					<label for="Contact Name" class="col-sm-4 col-xs-4 control-label">Contact Name</label>
					<div class="col-sm-8 col-xs-8 result"><p>John Jonsan</p></div>
				  </div>
				  <div class="form-group">
					<label for="Phone" class="col-sm-4 col-xs-4 control-label">Phone Number</label>
					<div class="col-sm-8 col-xs-8 result"><p>048877893</p></div>
				  </div>
				  <div class="form-group">
					<label for="Email" class="col-sm-4 col-xs-4 control-label">Email Address</label>
					<div class="col-sm-8 col-xs-8 result"><p>john@gmail.com</p></div>
				  </div>
				</form>
			</div>
	</div>
</section>	




<section class="main_broker_cont loan">	
	<div class="broker_detail_cont">
			<div class="broker_details">
			<h2>Loan Details</h2>
				<form>
				<div class="form-group">
					<label for="Select a product" class="col-sm-4 col-xs-4 control-label">Product</label>
					<div class="col-sm-8 result"><p>Secured Loan</p></div>
				</div>
			<div class="form-group">
			<label for="Purpose" class="col-sm-4 col-xs-4  control-label">Purpose</label>
			<div class="col-sm-8 col-xs-8 result"><p>Medical</p></div> 
			</div>
			  <div class="form-group">
				<label for="Description" class="col-sm-4 col-xs-4 control-label">Description</label>
				<div class="col-sm-8 col-xs-8 result"><p>Genralops hospital equipment</p></div>
			  </div>
</form>
				
				
	<form class="form-horizontal amount current">
  <div class="form-group">
    <label for="Amount inc GST" class="col-sm-8 col-xs-8 control-label ">Amount inc GST</label>
    <div class="col-sm-4 col-xs-4 result">
      <p>0$</p>
    </div>
  </div>
  <div class="form-group">
    <label for="Deposit" class="col-sm-8 col-xs-8 control-label">Deposit</label>
    <div class="col-sm-4 col-xs-4 result">
      <p>0$</p>
    </div>
  </div>
  
   <div class="form-group">
    <label for="Application Fee" class="col-sm-8 col-xs-8 control-label">Application Fee</label>
    <div class="col-sm-4 col-xs-4 result">
      <p>0$</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="GST not financed" class="col-sm-8 col-xs-8 control-label">GST not financed</label>
    <div class="col-sm-4 col-xs-4 result">
     <p>0$</p>
    </div>
  </div>
  <div class="form-group">
    <label for="Subtotal" class="col-sm-8 col-xs-8 control-label">Subtotal</label>
    <div class="col-sm-4 col-xs-4 result">
      <p>0$</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="Subtotal + Fee" class="col-sm-8 col-xs-8 control-label">Subtotal + Fee</label>
    <div class="col-sm-8  col-xs-4 result">
      <p>300$</p>
    </div>
  </div>
  
  <div class="form-group">
    <label for="Brockage" class="col-sm-8 col-xs-8 control-label">Brockage</label>
	<div class="col-sm-4 col-xs-4 result">
      <p>4% 0$</p>
    
  </div>
 
 
  <div class="form-group">
    <label for="Loan Amount" class="col-sm-8 col-xs-8 control-label">Loan Amount</label>
    <div class="col-sm-4 col-xs-4 result">
      <p>0$</p>
    </div>
  </div>
  <div class="left_text">
  <div class="form-group">
				<label for="Repayment Frequency" class="col-sm-3 col-xs-3 control-label">Repayment Frequency</label>
				<div class="col-sm-8 col-xs-8 result"><p>Monthly</p></div>
</div>
  
  <div class="form-group">
				<label for="Term" class="col-sm-3 col-xs-3 control-label">Term</label>
				<div class="col-sm-8 result"><p>25Years</p></div>
  </div>

<div class="form-group">
    <label for="inputPassword3" class="col-sm-3 col-xs-3 control-label">Balloon</label>
	<div class="col-sm-8 col-xs-8 result"><p>(4%)$0</p></div>
  </div>
</  
  </form>
			</div>
	</div>
</section>
<section class="calculated_result current">
	<div class="broker_detail_cont">
			<div class="broker_details">
				<h2> Calculated Result</h2>
				<p> This quote is valid for the next 30 days and will expire on 10/02/2016</p>
		<form class="form-horizontal amount">
  <div class="form-group">
    <label for="Net Monthly Repayment" class="col-sm-8 col-xs-8 control-label ">Net Monthly Repayment</label>
    <div class="col-sm-4 col-xs-4 result"><p>$0</p></div>
  </div>
  <div class="form-group">
    <label for="GST" class="col-sm-8 col-xs-8 control-label">GST</label>
    <div class="col-sm-4 col-xs-4 result"><p>$0</p></div>
  </div>
  
   <div class="form-group">
    <label for="Total monthly repayment" class="col-sm-8 col-xs-8 control-label">Total monthly repayment</label>
    <div class="col-sm-4 col-xs-4 result"><p>%0</p></div>
  </div>
  
  <div class="form-group">
    <label for="Total Repayments" class="col-sm-8 col-xs-8 control-label">Total Repayments</label>
    <div class="col-sm-4 col-xs-4 result"><p>$0</p></div>
	</div>
	</form>
				<div class="col-md-12 print_email">
				  <div class="col-sm-offset-3 col-sm-3  col-xs-6 print"><a href="#"><img src="img/print.png">Print this quote</a></div>
				  <div class=" col-sm-offset-1 col-sm-5 col-xs-6 email"><a href="#"><img src="img/email.png">Email this Quote</a></div>
				 <a href="#" class="apply_button">Apply Now</a>
			 	</div>
			</div>
		</div>
	</section>		
</ion-content>
</ion-view>