<ion-view  class="view-with-bg" view-title="Home" class="pane">
  <ion-content>
		<div class="select_wrapper">
			<div class="container">
				<div class="content_wrapper">
					<h4 class="tonto_heading">TONTO HOME LOANS</h4>
					<p><strong>Business Name Registration information</strong></p>
					<div class="row">
						<div class="col-xs-5"><p>Registered Business Name:</p></div>
						<div class="col-xs-7"><p>Tonto Home Loans</p></div>
					</div>				
					<div class="row">
						<div class="col-xs-5"><p>Business Name Status:</p></div>
						<div class="col-xs-7"><p>Registered</p></div>
					</div>					
					<div class="row">
						<div class="col-xs-5"><p>Previous Regstration Number:</p></div>
						<div class="col-xs-7"><p>F00108025</p></div>
					</div>								
					<p><strong>Australian Business Registration information</strong></p>
					<div class="row">
						<div class="col-xs-5"><p>Legal Name:</p></div>
						<div class="col-xs-7"><p>FIRSTMAC LIMITED</p></div>
					</div>				
					<div class="row">
						<div class="col-xs-5"><p>ABN:</p></div>
						<div class="col-xs-7"><p>59094145963</p></div>
					</div>					
					<div class="row">
						<div class="col-xs-5"><p>ABN Status:</p></div>
						<div class="col-xs-7"><p>ACT</p></div>
					</div>					
					<div class="row">
						<div class="col-xs-5"><p>Entity type:</p></div>
						<div class="col-xs-7"><p>Australian Public Company</p></div>
					</div>				
					<div class="row">
						<div class="col-xs-5"><p>Main Business Location/ Postcode:</p></div>
						<div class="col-xs-7"><p>QLD 4000</p></div>
					</div>					
					<div class="row">
						<div class="col-xs-5"><p>Trading Name:</p></div>
						<div class="col-xs-7"><p></p></div>
					</div>				
					<div class="row">
						<div class="col-xs-5"><p>ASIC Organisation Number:</p></div>
						<div class="col-xs-7"><p>0941445963</p></div>
					</div>
					<div class="row">
					   <a href="#/contact_form">Select again</a>
				  </div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>