@media screen and (max-width:1199px)
{

}
@media screen and (max-width:991px)
{
	.quote_cont td div {
  background: rgba(255, 255, 255, 0.73) none repeat scroll 0 0;
  color: #000;
  margin-bottom: 20px;
  min-height: 100px;
  padding: 20px 12px;
  vertical-align: middle;
  width: 210px;
}
.repayment_cont {
  padding-right: 151px;
}
 .repayment_cont .checkbox {
  left: inherit;
  right: 0;
}
.broker_details {
  margin: auto;
  width: 90%;
}

	
}
@media screen and (min-width:600px) and (max-width:767px)
{
	.home_nav > li {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline;
  float: left;
  height: 200px;
  padding: 50px 0;
  position: relative;
  text-align: center;
  width: 50%;
}
.home_cont {
  padding: 100px 0;
}
.home_nav > li a {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 22px;
  text-decoration: none;
}
.home_nav > li::after {
  content: url("../img/arrow_right1.png");
  margin-left: 9px;
  margin-top: 3px;
  position: absolute;
  top: 48px;
}
.home_cont {
  margin: auto;
  padding: 100px 0;
  width: 100%;
}
.home_nav {
  margin: auto;
  width: 100%;
}
}
@media screen and (max-width:715px)
{
	
}
@media screen and (max-width:600px)
{
	.top_nav {
  top: 44px;
}
.content_wrapper {
  padding: 80px 20px;
  width: 100%;
}

.home_nav > li {
  border-right: medium none;
  width: 100%;
}

.home_nav {
  margin: auto;
  width: 90%;
}
.home_cont {
  margin: auto;
  padding: 100px 50px;
  width: 100%;
}
.application_cont .nav li {
  font-size: 14px;
  width: 50%;
}
.nav.nav-tabs.customer_quant {
  margin-top: 30px;
  width: 100%;
}

}
@media screen and (min-width:716px) and (max-width:1024px){
	.home_nav {
  margin: auto;
  width: 100%;
}
.home_cont {
  padding: 100px 0;
}
}

@media screen and (min-width:768px) and (max-width:1200px) {

  .form-group.emp_stauts > span {
  color: #000;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 54px;
}
.emp_stauts input {
  display: inline-block;
  width: 45px;
}
}	
@media screen and (max-width:767px){
	.broker_details input[type="text"] , select {
  margin-top: 10px;
}
.broker_details .form-horizontal input[type="text"], .broker_details .form-horizontal select {
  margin-top: 10px;
}
.search_cont {
  width: 80%;
  margin: auto;
}
.border_text > ul {
  border-right: medium none;
  margin-bottom: 10px;
}
.middle_text.search {
  display: inline-block;
  margin: auto;
  padding-top: 90px;
  vertical-align: top;
  width: 100%;
}
.table_cont.table-responsive {
  border: medium none;
}
.email {
  padding: 20px 0 20px 14px;
  position: relative;
  text-align: left;
}
.form-group.emp_stauts > span {
  color: #000;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  width: 37px;
} 
.form-group.emp_stauts > span {
  color: #000;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  width: 43px;
}
<<<<<<< Updated upstream
.quote_cont {
  width: 80%;
}
.quote_wrapper {
  float: left;
  padding: 100px 0;
  width: 100%;
}
.broker_details .form-horizontal label {
  margin-top: 12px;
  text-align: right;
}
.header_left::before {
  content: "ï€";
  font-family: fontAwesome;
  font-size: 28px;
  left: 10px;
  position: absolute;
  top: 9px;
}
.broker_details label {
  color: #606060;
  font-size: 13px;
  font-weight: normal;
}
.application_cont .nav-tabs li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #2f9242;
  text-align: center;
  width: 49%;
}
.application_cont .nav.nav-tabs.customer_quant {
  width: 100%;
}
.header_left {
  border-top: 10px solid #2f9242;
  color: #fff;
  font-size: 18px;
  padding: 14px 50px 0 43px;
  position: relative;
}
.header_left span {
  color: #837b7f;
  float: left;
  font-size: 11px;
  width: 100%;
}
.loding_scree {
  margin: auto;
  width: 70%;
}
}
=======
}
>>>>>>> Stashed changes
